.countdownItem {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  align-self: stretch;
  background-color: #FFF4C7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  color: #2D0000;
  transition: transform 0.3s ease-out;
}

.countdownItem:nth-child(odd) {
  transform: rotate(5deg);
}

.countdownItem:nth-child(even) {
  transform: rotate(-5deg);
}

@media (max-width: 991px) {
  .countdownItem {
    white-space: initial;
  }
}

.countdownValue {
  letter-spacing: 5%;
  text-align: center;
  font: 400 50px LC Mogi, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .countdownValue {
    font-size: 36px;
  }
}

.countdownLabel {
  text-align: center;
  font: 600 20px Reem Kufi Fun, -apple-system, Roboto, Helvetica, sans-serif;
}